{% extends "layout.html" %}

{% block title %}
Add Expenditures & Income
{% endblock %}

{% block main %}

<h1 class="h1">Add Expenditures & Income</h1>

<form method="POST" action="/add">

    <div class="tbl_border">
        <div class="row align-items-start">
            <div class="col">
                <h2 class="h2">Expenditures</h2>
                <script>
                    // Dynamically add and remove category text boxes
                    $(document).ready(function () {
                        // Variables
                        var newrow = '<p /><div><input type="hidden" name="ie" id="childie" value="expense" /><select id="childcategory" name="category"><option selected>Select Category</option>{% for row in expenses %}<option value="{{ row[0] }}">{{ row[0] }}</option>{% endfor %}</select><input type="text" name="amount" id="childamount" placeholder="Total" /><input type="date" name="childdate" id="date" /><input type="button" id="ex_remove" value="X" /></div>';

                        // Add rows to form
                        $("#ex_add").click(function () {
                            $("#expenses").append(newrow);
                        });

                        // Remove rows from form
                        $("#expenses").on("click", "#ex_remove", function () {
                            $(this).parent("div").remove();
                        });
                    });
                </script>

                <div id="expenses">
                    <input type="hidden" name="ie" id="ie" value="expense" />
                    <select id="category" name="category">
                        <option select>Select Category</option>
                        {% for row in expenses %}
                        <option value="{{ row[0] }}">{{ row[0] }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="amount" id="amount" placeholder="Total" />
                    <input type="date" name="date" id="date" />
                    <input type="button" id="ex_add" value="Add" />
                </div>
            </div>

            <div class="col">
                <h2 class="h2">Bills</h2>
                <script>
                    // Dynamically add and remove category text boxes
                    $(document).ready(function () {
                        // Variables
                        var newrow = '<p /><div><input type="hidden" name="ie" id="childie" value="bill" /><select id="childcategory" name="category"><option selected>Type of Bill</option>{% for row in bills %}<option value="{{ row[0] }}">{{ row[0] }}</option>{% endfor %}</select><input type="text" name="amount" id="childamount" placeholder="Total" /><input type="date" name="childdate" id="date" /><input type="button" id="bill_remove" value="X" /></div>';

                        // Add rows to form
                        $("#bill_add").click(function () {
                            $("#bills").append(newrow);
                        });

                        // Remove rows from form
                        $("#bills").on("click", "#bill_remove", function () {
                            $(this).parent("div").remove();
                        });
                    });
                </script>

                <div id="bills">
                    <input type="hidden" name="ie" id="ie" value="bill" />
                    <select id="category" name="category">
                        <option selected>Type of Bill</option>
                        {% for row in bills %}
                        <option value="{{ row[0] }}">{{ row[0] }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="amount" id="amount" placeholder="Total" />
                    <input type="date" name="date" id="date" />
                    <input type="button" id="bill_add" value="Add" />
                </div>
            </div>

            <div class="col">
                <h2 class="h2">Income</h2>
                <script>
                    // Dynamically add and remove rows
                    $(document).ready(function () {
                        // Variables
                        var newrow = '<p /><div><input type="hidden" name="childie" id="ie" value="income" /><select id="category" name="childcategory"><option selected>Income Type</option>{% for row in incomes %}<option value="{{ row[0] }}">{{ row[0] }}</option>{% endfor %}</select><input type="text" name="childamount" id="amount" placeholder="Total" /><input type="date" name="childdate" id="date" /><input type="button" id="in_remove" value="X" /></div>';

                        $("#in_add").click(function () {
                            $("#income").append(newrow);
                        });

                        // Remove rows from form
                        $("#income").on("click", "#in_remove", function () {
                            $(this).parent("div").remove();
                        });
                    });
                </script>
                <div id="income">
                    <input type="hidden" name="ie" id="ie" value="income" />
                    <select id="category" name="category">
                        <option selected>Income Type</option>
                        {% for row in incomes %}
                        <option value="{{ row[0] }}">{{ row[0] }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="amount" id="amount" placeholder="Total" />
                    <input type="date" name="date" id="date" />
                    <input type="button" id="in_add" value="Add" />
                </div>
            </div>
        </div>
        </p>
    </div>
    </p>
    <input type="submit" />
</form>

</p>
<h1>Upload Spreadsheet Bank Statement</h1>
<div class="tbl_border">
    </p>
    <input type="file" id="excelfile" />
    <input type="button" id="viewfile" value="Submit" onclick="ExportToTable()" />
    <br />
    <br />
    <table id="exceltable">
    </table>
</div>
{% endblock %}