{% extends "layout.html" %}

{% block title %}
Customize Budget
{% endblock %}

{% block main %}

<h1 class="h1">Customize Your Budget</h1>

<form method="POST" action="/add">
    {% if bud_day == 0 %}
    <h2 class="h2">What day of the month do you want to budget?</h2>
    <input name="day" class="cat" placeholder="Day" type="text">
    </p>
    {% else %}
    <h2 class="h2">Your next budget day is on {{ bud_day }}</h2>
    {% endif %}

    <div class="tbl_border">
        <div class="row align-items-start">
            <div class="col">

                <h2>Income</h2>

                <script>
                    // Dynamically add and remove rows
                    $(document).ready(function () {
                        // Variables
                        var newrow = '<p /><div><input type="hidden" name="ie" id="childie" value="incomeBud" /><select class="cat" id="childcategory" name="category"><option select>Select Income</option>{% for row in income %}<option value="{{ row[0] }}">{{ row[0] }}</option>{% endfor %}</select><input type="text" class="currency" name="amount" id="childamount" placeholder="Expected Amount" /><input type="date" class="date" name="in_date" id="childin_date" /><input type="button" id="in_remove" value="x" /></div>';

                        // Add rows to form
                        $("#in_add").click(function () {
                            $("#income").append(newrow);
                        });

                        // Remove rows from form
                        $("#income").on("click", "#in_remove", function () {
                            $(this).parent("div").remove();
                        });
                    });
                </script>

                <table id="income">
                    <tr>
                        <input type="hidden" name="ie" id="ie" value="incomeBud" />
                        <select class="cat" id="category" name="category">
                            <option select>Select Income</option>
                            {% for row in income %}
                            <option value="{{ row[0] }}">{{ row[0] }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" class="currency" name="amount" id="amount" placeholder="Expected Amount" />
                        <input type="date" class="date" name="date" id="date" />
                        <input type="button" id="in_add" value="+" />
                    </tr>
                </table>
            </div>
            <div class="col">

                <h2>Life Expenses</h2>
                <script>
                    // Dynamically add and remove category text boxes
                    $(document).ready(function () {
                        // Variables
                        var newrow = '<p /><div><input type="hidden" name="ie" id="childie" value="expenseBud" /><select class="cat" id="childcategory" name="category"><option select>Select Expense</option>{% for row in expenses %}<option value="{{ row[0] }}">{{ row[0] }}</option>{% endfor %}</select><input type="text" class="currency" name="amount" id="childamount" placeholder="Budget" /><input type="hidden" name="date" id="childdate" value="{{ bud_day }}" /><input type="text" class="cat" name="note" id="childnote" placeholder="Note" /><input type="button" id="ex_remove" value="x" /></div>';

                        // Add rows to form
                        $("#ex_add").click(function () {
                            $("#expenses").append(newrow);
                        });

                        // Remove rows from form
                        $("#expenses").on("click", "#ex_remove", function () {
                            $(this).parent("div").remove();
                        });
                    });
                </script>

                <table id="expenses">
                    <tr>
                        <input type="hidden" name="ie" id="ie" value="expenseBud" />
                        <select class="cat" id="category" name="category">
                            <option select>Select Expense</option>
                            {% for row in expenses %}
                            <option value="{{ row[0] }}">{{ row[0] }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" class="currency" name="amount" id="amount" placeholder="Budget" />
                        <input type="hidden" name="date" id="date" value="{{ bud_day }}" />
                        <input type="text" class="cat" name="note" id="childnote" placeholder="Note" />
                        <input type="button" id="ex_add" value="+" />
                    </tr>
                </table>
            </div>

            <div class="col">
                <h2>Bills</h2>

                <script>
                    // Dynamically add and remove bills text boxes
                    $(document).ready(function () {
                        // Variables
                        var newrow = '<p /><div><input type="hidden" name="ie" id="childie" value="billBud" /><select class="cat" id="childcategory" name="category"><option selected>Select Bill</option>{% for row in bills %}<option value="{{ row[0] }}">{{ row[0] }}</option>{% endfor %}</select><input type="text" class="currency" name="amount" id="childamount" placeholder="Estimated Bill Total" /><input type="date" class="date" name="date" id="childdate" placeholder="Payment Due" /><input type="button" id="bill_remove" value="x" /></div>';

                        // Add row to form
                        $("#bill_add").click(function () {
                            $("#bills").append(newrow);
                        });

                        // Remove row from form
                        $("#bills").on("click", "#bill_remove", function () {
                            $(this).parent("div").remove();
                        });
                    });
                </script>

                <table id="bills">
                    <tr>
                        <input type="hidden" name="ie" id="ie" value="billBud" />
                        <select id="category" class="cat" name="category">
                            <option selected>Select Bill</option>
                            {% for row in bills %}
                            <option value="{{ row[0] }}">{{ row[0] }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" class="currency" name="amount" id="amount" placeholder="Estimated Total" />
                        <input type="date" class="date" name="date" id="date" placeholder="Payment Due" />
                        <input type="button" id="bill_add" value="+" />
                    </tr>
                </table>
            </div>
        </div>
        </p>
    </div>
    </p>
    <input type="submit" id="submit" />
</form>

{% endblock %}